main {
  background-color: white;
  width: 90vw;
  max-width: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: scroll;
  height: 80vh;
  padding: 28px;
}

/* Works on Firefox */
main {
  scrollbar-width: thin;
  scrollbar-color: #E6E9F0 transparent;
  position: relative;
}

/* Works on Chrome, Edge, and Safari */
main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background-color: #E6E9F0;
  border: 2px solid transparent;
}