@import 'material-icons/iconfont/material-icons.css';

/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #E6E9F0;
  color: #4F4F4F;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

textarea:focus, input:focus{
  outline: none;
}