<div class="row-container">
  <span (click)="toggleNodeOpen()" [ngClass]="{'material-icons': true, 'rotate-icon': node.open}" class="icon">
    play_arrow
  </span>
  <input type="checkbox" [(ngModel)]="node.checked" (change)="toggleNodeChecked()" class="checkbox">
  <button (click)="toggleNodeOpen()">
    <p>
      {{ node.name }}
    </p>
  </button>
</div>
<ng-container *ngIf="node.open">
  <ul>
    <li *ngFor="let child of getChildren(node)">
      <app-tree-view-node [node]="child"></app-tree-view-node>
    </li>
    <li>
      <app-input [parentId]="node.id"></app-input>
    </li>
  </ul>
</ng-container>